caption		{ display : table-caption ; }
league		{ display : table ; }
headers		{ display : table-header-group ; }
rows		{ display : table-row-group ; }
team		{ display : table-row ; }
name, pos, pts, lbl	{ display: table-cell ; }

league	{ margin : auto ; margin-top : 20px ; width : 500px ; border-spacing : 3px ; border: 8px ridge DeepPink ; }

headers	{ background : DeepPink ; color : White ; }
rows	{ background : Pink ; }