@import url( base[0].css ) ;

h1, h2 { color : MediumPurple ; }
footer { padding : 10px 0 ; font : italic 0.75em sans-serif ; color : MediumPurple ; }

li:nth-child(1) > a { background : MediumPurple ; color : White ; }

aside:before { content : open-quote ; }
aside:after { content : close-quote ; }