@import url( base[0].css ) ;

h1, h2 { color : MediumPurple ; }
footer { padding : 10px 0 ; font : italic 0.75em sans-serif ; color : MediumPurple ; }

li:nth-child(3) > a { background : MediumPurple ; color : White ; }

h1	{ text-align : center ; }

span#first	{ float : left ; width : 30% ; border-right : 1px solid MediumPurple ; padding-right : 5px ; }
span#second	{ float : left ; width : 40% ;  border-right : 1px solid MediumPurple ; padding : 0 10px ; }
aside	{ float : left ; width : 30% ; padding-left : 10px ;  }
footer	{ clear : both ; text-align : center ;  }