@import url( base[0].css ) ;

h1, h2 { color : MediumPurple ; }
footer { padding : 10px 0 ; font : italic 0.75em sans-serif ; color : MediumPurple ; }

li:nth-child(2) > a { background : MediumPurple ; color : White ; }

main > p	{ float : left ; width : 70% ; border-right : 1px solid MediumPurple ; }
aside	{ float : left ; width : 30% ; padding-left : 10px ; }
footer	{ clear : both ; }